<!--  <ion-split-pane contentId="main-content">-->
<!--    <ion-menu *ngIf="location != '/login'" contentId="main-content" type="overlay">-->
<!--      <ion-content>-->
<!--        <ion-list id="inbox-list">-->
<!--          <ion-list-header *ngIf="user">{{user.name}}</ion-list-header>-->
<!--          <ion-note *ngIf="user">{{user.username}}</ion-note>-->

<!--          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">-->
<!--            <ion-item (click)="selectedIndex = i; clickedMenuButton(i)" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">-->
<!--              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>-->
<!--              <ion-label>{{ p.title }}</ion-label>-->
<!--            </ion-item>-->
<!--          </ion-menu-toggle>-->
<!--        </ion-list>-->
<!--      </ion-content>-->
<!--        <ion-button color="danger">Logout</ion-button>-->
<!--    </ion-menu>-->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div *ngIf="folder == 'Account'">
<!--      <form [formGroup]="validateForm">-->
        <ion-item class="ion-text-left">
          <ion-label position="floating">Naam:</ion-label>
          <ion-input *ngIf="user" style="font-weight: bold;" type="text" [(ngModel)]="user.name"></ion-input>
        </ion-item>
<!--        <div class="alert alert-danger" role="alert">-->
<!--          <p>Please enter a valid name.</p>-->
<!--        </div>-->
        <ion-item class="ion-text-left">
          <ion-label position="floating">E-mail:</ion-label>
          <ion-input style="font-weight: bold;" *ngIf="user" [(ngModel)]="user.username"></ion-input>
        </ion-item>
        <ion-item class="ion-text-left">
          <ion-label position="floating">Wachtwoord:</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
<!--        <div class="alert alert-danger" role="alert" *ngIf="!validateForm.controls.password.valid && (validateForm.controls.password.dirty || submitAttempt)">-->
<!--          <p>Invalid password (min 8 characters)</p>-->
<!--        </div>-->
        <ion-item class="ion-text-left">
          <ion-label position="floating">Herhaal Wachtwoord:</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
<!--        <div class="alert alert-danger" role="alert" *ngIf="validateForm.hasError('passwordNotMatch')">-->
<!--          <p>Passwords don't match</p>-->
<!--        </div>-->
<!--      </form>-->
        <div style="text-align: center">
            <ion-button (click)="saveNewUser()">
                <ion-icon slot="end" name="save"></ion-icon>
                Opslaan
            </ion-button>
        </div>
        <div>

        </div>
    </div>
      <div *ngIf="folder == 'Create'">
          <form #userForm="ngForm" (ngSubmit)="saveNewUser(userForm.value, userForm);" >
              <ion-item class="ion-text-left">
                  <ion-label position="floating">Naam:</ion-label>
                  <ion-input style="font-weight: bold;" type="text" name="name" ngModel="" required="true"></ion-input>
              </ion-item>
              <!--        <div class="alert alert-danger" role="alert">-->
              <!--          <p>Please enter a valid name.</p>-->
              <!--        </div>-->
              <ion-item class="ion-text-left">
                  <ion-label position="floating">Username:</ion-label>
                  <ion-input style="font-weight: bold;" type="text" name="username" ngModel="" required="true"></ion-input>
              </ion-item>
              <ion-item class="ion-text-left">
                  <ion-label position="floating">Kies Rol:</ion-label>
                  <ion-select placeholder="Select One" name="role" ngModel="" required="true">
                      <ion-select-option value="ADMIN">Admin</ion-select-option>
                      <ion-select-option value="USER">User</ion-select-option>
                  </ion-select>
              </ion-item>
              <ion-item class="ion-text-left">
                  <ion-label position="floating">Wachtwoord:</ion-label>
                  <ion-input type="password" name="password" ngModel="" required="true"></ion-input>
              </ion-item>
              <!--        <div class="alert alert-danger" role="alert" *ngIf="!validateForm.controls.password.valid && (validateForm.controls.password.dirty || submitAttempt)">-->
              <!--          <p>Invalid password (min 8 characters)</p>-->
              <!--        </div>-->
              <ion-item class="ion-text-left">
                  <ion-label position="floating">Herhaal Wachtwoord:</ion-label>
                  <ion-input type="password" name="confirmPassword" ngModel="" required="true"></ion-input>
              </ion-item>
              <!--        <div class="alert alert-danger" role="alert" *ngIf="validateForm.hasError('passwordNotMatch')">-->
              <!--          <p>Passwords don't match</p>-->
              <!--        </div>-->
              <!--      </form>-->
              <div style="text-align: center">
                  <ion-button type="submit">
                      <ion-icon slot="end" name="save"></ion-icon>
                      Opslaan
                  </ion-button>
              </div>
          </form>
      </div>
      <div style="overflow: auto" *ngIf="folder === 'Feed'">

<!--          <ion-app>-->
<!--              <ion-header translucent>-->
<!--                  <ion-toolbar>-->
<!--                      <ion-title>Card</ion-title>-->
<!--                  </ion-toolbar>-->
<!--              </ion-header>,-->
<!--              <ion-content>-->


                  <ion-card *ngFor="let message of allReadMessagesList" [color]="message.level === 'High' ? 'danger' : ''">
                      <ion-card-header>
                          <ion-card-subtitle *ngIf="user">{{user.name}}</ion-card-subtitle>
                          <ion-card-title>{{message.subjectName}}</ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                          {{message.message}}
                      </ion-card-content>
                  </ion-card>

          <ion-card *ngFor="let message of allUnreadMessagesList; index as i;" [color]="message.level === 'High' ? 'danger' : ''">
              <ion-card-header>
                  <ion-card-subtitle *ngIf="user">{{user.name}}</ion-card-subtitle>
                  <ion-card-title>{{message.subjectName}}</ion-card-title>
                  <br *ngIf="!messageRead[i]">
                  <ion-icon *ngIf="!messageRead[i]" (click)="readMessage(i,message)" name="open-outline"></ion-icon>
              </ion-card-header>
              <ion-card-content *ngIf="messageRead[i]">
                  {{message.message}}
              </ion-card-content>
          </ion-card>

          <ion-card *ngFor="let message of newCreatedList" [color]="message.level === 'High' ? 'danger' : ''">
              <ion-card-header>
                  <ion-card-subtitle *ngIf="user">{{user.name}}</ion-card-subtitle>
                  <ion-card-title>{{message.subjectName}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                  {{message.message}}
              </ion-card-content>
          </ion-card>




<!--              </ion-content>-->
<!--          </ion-app>-->
      </div>
<!--    <p *ngIf="folder != 'Feed'">Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>-->
  </div>
    <ion-item *ngIf="folder === 'Feed'" style=" position: absolute; bottom: 0; width: 100%">
        <ion-input *ngIf="message.level" [(ngModel)]="message.message" placeholder="typ een bericht" type="text"></ion-input>
        <ion-button *ngIf="message.level" slot="end" (click)="sendMessage()">Send</ion-button>
        <ion-chip slot="end" *ngIf="!message.level" (click)="presentPopover($event)" color="primary">
            <ion-label>Nieuw</ion-label>
            <ion-icon name="add-outline"></ion-icon>
        </ion-chip>
        <ion-icon slot="end" *ngIf="message.level" (click)="restartInput()" name="close-circle-outline"></ion-icon>
    </ion-item>
</ion-content>
