<ion-list *ngIf="levelPopover">
  <ion-list-header>Kies prioriteit van bericht</ion-list-header>
  <ion-item button (click)="chooseLevel('High')">Hoog</ion-item>
  <ion-item button (click)="chooseLevel('Medium')">Neutraal</ion-item>
  <ion-item button (click)="chooseLevel('Low')">Laag</ion-item>
  <ion-item lines="none" detail="false" button (click)="dismissPopover()">Close</ion-item>
</ion-list>

<ion-list *ngIf="subjectPopover">
  <ion-list-header>Kies onderwerp</ion-list-header>
  <ion-item button (click)="chooseSubject('Verjaardag')">Verjaardag</ion-item>
  <ion-item button (click)="chooseSubject('Management')">Management</ion-item>
  <ion-item button (click)="chooseSubject('Vergadering')">Vergadering</ion-item>
  <ion-item lines="none" detail="false" button (click)="dismissPopover()">Close</ion-item>
</ion-list>

<ion-list *ngIf="userOptionsPopover">
  <ion-list-header>{{getName()}}</ion-list-header>
  <ion-item button (click)="userOptionClicked('Logout')">Log uit</ion-item>
</ion-list>
